loadgen/build/
libmlperf_loadgen.a
__pycache__/
generated/
loadgen/mlperf_loadgen.cpython-36m-aarch64-linux-gnu.so
loadgen/mlperf_loadgen.egg-info/
v0.5/classification_and_detection/sds_trace_data.dat
sds_trace_data.dat
v0.5/classification_and_detection/export.sh
loadgen/mlperf_loadgen.cpython-37m-x86_64-linux-gnu.so
v0.5/classification_and_detection/output*
v0.5/classification_and_detection/run_me.sh